{{ define "home_header" }}
<div class="row justify-content-between px-4">
    <div class="col-12 col-sm-4 col-md-4 order-12 order-sm-1 pl-1 pl-md-2 pt-1">
        <div style="font-weight: bold;">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tag"></use>
            </svg>
        {{ .Title }}下的文章
        </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 px-0 order-3 mt-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb py-1 justify-content-end w-auto bg-transparent">
                {{ range .Site.Menus.main }}
                    <li class="breadcrumb-item btn btn-warning custom-btn" aria-current="page" style="transform: rotate(0);">
                        <a class="text-dark stretched-link" href="{{ .URL }}">
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            </ol>   
        </nav>
    </div>
</div>
<div class="hr-box my-4">
    <div class="hr-box-sm hr-orange"></div>
    <div class="hr-box-sm hr-yellow"></div>
    <div class="hr-box-sm hr-purple "></div>
    <div class="hr-box-sm hr-green "></div>
    <div class="hr-box-sm hr-blue "></div>
    <div class="hr-box-sm hr-red"></div>
</div>
{{ end }}
{{ define "main" }}
<div class="row justify-content-center px-4" style="min-height: 70vh;">
    <div class="col-12 col-md-10 pb-5">
        <div class="gradient-box">
            <div>
                {{ range .Pages.GroupByDate "2006" }}
                <section class="ml-2 mt-3"><span class="font-weight-bold">{{ .Key }}</span></section>
                    {{ $year := printf "%s-" .Key }}
                    {{ range .Pages }}
                    <div class="row justify-content-center px-2 ml-2 ml-md-4 pb-1">
                        <div class="col-8">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-wenzhang2"></use>
                            </svg>
                            <a class="text-dark custom-a" href="{{ .Permalink }}">{{ .Title }}</a>
                        </div>
                        <div class="col-4">
                            <span class="float-right text-muted">
                                    {{ strings.TrimPrefix  $year (.Date.Format "2006-01-02")}}
                            </span>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}