{{ define "main" }}
<main class="container-fluid px-1 px-sm-3">
  <article id="main">
    <h1 id="title">{{ .Title }}</h1>
    <div class="row justify-content-end mx-2 mx-sm-4">
        {{ with .Params.tags }}
          <span class="custom-span-meta">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-biaoqian3"></use>
              </svg>
              {{ range . }}
              <a class="custom-text-muted custom-a" href="{{ "tags" | absURL }}/{{ replace . " " "-" | lower }}/">{{ . }}</a>&shortmid;
              {{ end }}
          </span>&nbsp;&nbsp;
        {{ end }}
        {{ with .Params.categories }}
          <span class="custom-span-meta">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fenlei2"></use>
              </svg>
              {{ range . }}
              <a class="custom-text-muted custom-a" href="{{ "categories" | absURL }}/">{{ . }}</a>&shortmid;
              {{ end }}
          </span>&nbsp;&nbsp;
        {{ end }}
      <span class="custom-span-meta">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-time"></use>
        </svg>
        {{- .Date.Format "2006-01-02" -}}
      </span>&nbsp;&nbsp;
      <span class="custom-span-meta">
          <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-count"></use>
          </svg>
          {{- .WordCount -}} 字
      </span>
    </div>
    <br>
    <div class="row">
      <div class="col-12 px-2 px-md-3">
          {{ with .Params.summary }}
          <div class="text-muted p-1 p-md-2">
            {{ . }}
          </div>
          {{ end }}
          {{ .Content }}
          {{ if .Page.Params.copyright }}
          {{ partial "postCopyRight.html" . }}
          {{ end }}
      </div>
    </div>
  </article>
  <div class="hr-box">
      <div class="hr-box-sm hr-red"></div>
      <div class="hr-box-sm hr-orange"></div>
      <div class="hr-box-sm hr-yellow "></div>
      <div class="hr-box-sm hr-green "></div>
      <div class="hr-box-sm hr-blue "></div>
      <div class="hr-box-sm hr-purple"></div>
  </div>
  <aside id="meta">
    <div class="row justify-content-between py-2 py-md-3">
        {{ with .PrevInSection }}
        <div class="col-12 col-md-5">
          <span><svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-PrevioustrackFill"></use>
            </svg>上一篇
            <a class="text-dark custom-a" href="{{.Permalink}}"> {{.Title}}</a>
          </span>
        </div>
        {{ end }}
        {{ with .NextInSection }}
        {{ if .PrevInSection }}
        <div class="col-12 col-md-5">
            <span class="float-md-right">
        {{ else }}
        <div class="col-12">
            <span>
        {{ end }}
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-NexttrackFilled"></use>
            </svg>下一篇
            <a class="text-dark custom-a" href="{{.Permalink}}"> {{.Title}}</a>
          </span>
        </div>
        {{ end }}
    </div>
  </aside>
</main>
{{ end }}