<div class="container mt-1 mt-md-5" id="index_home">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <div class="my-3">
                <h1>
                    <a href="#" class="px-3 px-md-5 badge badge-dark text-wrap py-1">codepool</a>
                </h1>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-8 text-center">
            <p class="text-muted">
                咱也不敢说，咱也不敢问！
            </p>
        </div>
    </div>
    
        <div class="nav-scroller">
            <nav class="nav d-flex justify-content-between">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li
                    class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                    <a class="nav-link" href="{{ .URL }}">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="{{ .Post }}"></use>
                        </svg>
                        <span>{{ .Name }}</span>
                        {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        <span class="sr-only">(current)</span>
                        {{ end }}
                    </a>
                </li>
                {{ end }}
            </nav>
        </div>
    
</div>
    