<header class="container" id="header-id">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="my-3" style="font-size:2rem;">
                <a href="{{ .Site.BaseURL }}" class="px-3 px-md-5 badge custom-badge-dark text-wrap py-1 py-md-2">{{ .Site.Params.siteBrand | default "codepool" }}</a>
            </div>
        </div>
        <div class="w-100"></div>
        {{ with .Site.Params.motto }}
        <div>
            <p class="text-muted text-center custom-text-muted mobile-custom-size">
                {{ . }}
            </p>
        </div>
        {{ end }}
    </div>
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md justify-content-center">
            <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span> 
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xinxiaoxixiangxiajiantou"></use>
                    </svg>
                </span>
            </div>
            <div class="border-warning collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                        <a class="nav-link custom-link-color " href="{{ .URL }}" style="text-align: center;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="{{ .Post }}"></use>
                            </svg>
                            <span>{{ .Name }}</span>
                            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                                <span class="sr-only">(current)</span>
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</header>
