<div class="container custom-border-left border-warning m-2" style="background-color: antiquewhite;">
    <div >
        <span>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-woshizuozhe"></use>
        </svg>    
        {{ .Page.Params.Author }}</span>
    </div>
    <div>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-fenxiang2"></use>
        </svg>
        <a href="{{ .Permalink }}">{{ .Permalink }}</a></div>
    <div style="font-size: 90%;">版权：此文章版权归<a href="https://codepool.top">CodePool</a>所有。允许转载，但禁止商用！</div>
</div>