<div class="container custom-copyright-style border-warning m-2 my-md-4 p-2 shadow-sm">
    <div >
        <span>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-woshizuozhe"></use>
        </svg>作者：
        <a href="{{- .Page.Params.AuthorLink -}}">{{- .Page.Params.Author }}</a>
        </span>
    </div>
    <div>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-suoding"></use>
        </svg>版权：此文章版权归<a href="https://codepool.top">{{ .Site.Title }}</a>所有。允许转载，但禁止商用！
    </div>
</div>